# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Arquivos de compilação
/dist

# Dependências
/node_modules

# Arquivos de configuração
.env

# Arquivos de log
/logs

# Arquivos temporários
/tmp

# Arquivos de teste
/test

# Ambiente de desenvolvimento
.env.local

# Outros arquivos e diretórios específicos para o seu projeto

# Ignorar arquivos no diretório .docker/dbdata
.docker/dbdata/

# Ignorar arquivos específicos no diretório .docker/dbdata/base
.docker/dbdata/base/

# Ignorar todos os arquivos no diretório .docker/dbdata/base/4/2656
.docker/dbdata/base/4/2656/
